.LoginScreen {
  position: relative;
  height: 100%;
  background: url("https://miro.medium.com/v2/resize:fit:1400/1*5lyavS59mazOFnb55Z6znQ.png")
    center no-repeat;
  background-size: cover;
}

.login__logo {
  position: fixed;
  left: 0;
  width: 200px;
  object-fit: contain;
  padding-left: 170px;
  cursor: pointer;
  margin-top: -1cm;
}

.loginScreen__button {
  position: fixed;
  right: 170px;
  top: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(229, 9, 20);
  border: none;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}
