.profileScreen {
  height: 100vh;
  color: #fff;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.avatar__photo {
  max-width: 100px;
  object-fit: contain;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__details {
  color: #fff;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__details > h2 {
  background-color: hwb(0 50% 50%);
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__signout {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  background-color: #e50914;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-backHome {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  background-color: #e50914;
  color: #fff;
  border: none;
  font-weight: 600;
  margin-top: 1%;
  cursor: pointer;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__plans {
  margin-top: 20px;
}
