.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 60px;
  z-index: 1;

  /* Animate */
  transition-timing-function: ease-in;
  transition: all 0.4s;
}

.container {
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 0;
  width: 200px;
  object-fit: contain;
  padding-left: 170px;
  cursor: pointer;
  margin-top: -1cm;
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  padding-right: 130px;
  right: 80px;
  width: 60px;
}
